<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>${user.username}, här är länken för att ändra din  mejladress</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

    <body>

        <article>
            <p>Hej ${user.username}</p>
            <p>Du bad nyligen om att ändra din mejladress.</p>
            <p>Klicka <a href="${confirmationUrl}" target="_blank">här</a> eller klistra in länken nedan i din webbläsare för att ändra din  mejladress.</p>
            <p><a href="${confirmationUrl}" target="_blank">${confirmationUrl}</a></p>
            <p>Länken är giltig i 24 timmar så använd den omgående.</p>
            <p>Tack för att du använder XXX!<br>
            XXX teamet</p>
        </article>

    </body>

</html>