<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Account verification</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

    <body>

        <article>
            <h3>Welcome to XXX!</h3>
            <p>Please click on the link below to active your account.</p>
            <p><a href="${verifyEmailLink}" target="_blank"></a></p>
            <p>/The XXX staff</p>
        </article>

    </body>

</html>