<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>${user.username}, here's the link to active your account</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

    <body>

        <article>
            <p>Hi ${user.username}</p>
            <p>To activate your XXX account, click <a href="${confirmationUrl}" target="_blank">here</a> or paste the following link into your browser:</p>
            <p><a href="${confirmationUrl}" target="_blank">${confirmationUrl}</a></p>
            <p>The link will expire in 24 hours, so be sure to use it right away.</p>
            <p>Thanks for using XXX!<br>
            The XXX team</p>
        </article>

    </body>

</html>